{% extends 'base.html' %}
{% load static %}
{% block contenido %}

<head>
    <body>

        <div class="page-title lb single-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <h1><i></i>¿Qué es Data-Tec?<small class="hidden-xs-down hidden-sm-down">"El conocimiento del mundo al alcance de tu mouse".</small></h1>
                    </div><!-- end col -->
                    <div class="col-lg-4 col-md-4 col-sm-12 hidden-xs-down hidden-sm-down">
                    </div><!-- end col -->                    
                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end page-title -->

        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                        <div class="page-wrapper">
                            <div class="blog-custom-build">
                                <div class="blog-box">
            
                                    <div class="blog-meta big-meta text-center">
                                        <div class="post-sharing">
                                            
                                        </div><!-- end post-sharing -->
                                        <p>Data-TEC es un Blog de Noticias enfocado en aquellos que saben que el tiempo es “oro”, al igual que los datos
                                           (hablo de ustedes ,apasionados de la tecnología). 
                                           
                                           Aqui es donde me enfoco en contarles historias fascinantes para que no consideren que se estan perdiendo ninguno de los dos parametros 
                                           que ya establecimos. 
                                

                                           De manera rigurosa y con pasión te explayare  la actualidad tecnológica, siempre basandome de 
                                           fuentes fiables y legales. 

                                           Para que logres mantener la mente abierta a los cambios que se avecinan(o que ya se estan dando).
                                           </p>
                                    </div><!-- end meta -->
                                </div><!-- end blog-box -->

                                <hr class="invis">

                                    <div >
                                    <div >
                                        <a  title="">
                                            
                                            <!-- end hover -->
                                        </a>
                                    </div>
                                    <!-- end media -->
                                    <div class="text-center">
                                        <h4><a  title="">¿Cómo surgimos?</a></h4>
                                        <p>Surgimos como una idea muy vaga,(solo un nombre) y hoy nos establecemos como el Blog N°1 en el Chaco (y en tu corazón), creando una comunidad de usuarios muy informados, influyentes y altamente participativos siempre a la vanguardia de la tecnología.</p>
                                       <img src="{% static 'upload/jj.png'%}">

                                    </div><!-- end meta -->
                                </div><!-- end blog-box -->

                                <hr class="invis">

                                <div class="blog-box">
                                    <div class="post-media">
                                        <a  title="">
                                            
                                            <div class="hovereffect">
                                                <span class="videohover"></span>
                                            </div>
                                            <!-- end hover -->
                                        </a>
                                    </div>
                                    <!-- end media -->
                                    <div class="blog-meta big-meta text-center">
                                     
                                        <h4><a  title="">Data-TEC por siempre</a></h4>
                                        <p>Data-Tec demuestra que la habilidad de exponer una idea , a veces es más importante que la idea misma.</p>
                                        
                                        <p> Data-Tec es el conocimiento arrollador contra el adoctrinamiento (no se puede enseñar, solo hacer pensar).</p>

                                        <p>Data-Tec es una biblioteca de saberes, al alcance de tu mouse.</p>                        
                                    </div><!-- end meta -->
                                </div><!-- end blog-box -->
                                <hr class="invis">
                                <div class="blog-box">
                                    <div >
                                        <a  title="">
                                            <img  alt="" class="img-fluid">
                                            <div class=>
                                                <span class=></span>
                                            </div>
                                            <!-- end hover -->
                                        </a>
                                    </div>
                                    <!-- end media -->
                                    <div class="blog-meta big-meta text-center">       
                                    </div><!-- end meta -->
                                </div><!-- end blog-box -->
                                <hr class="invis">
                                <hr class="invis">
                                <div class="blog-box">

                                    <!-- end media -->

                                </div><!-- end blog-box -->
                            </div><!-- end blog-custom-build -->
                        </div><!-- end page-wrapper -->

                        <hr class="invis">

                        <div class="row">
                            <div class="col-md-12">
                            
                            </div><!-- end col -->
                        </div><!-- end row -->
                    </div><!-- end col -->




                    
                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <div class="sidebar">
                            <div class="widget">
                                <div class="banner-spot clearfix">
                                    <div class="banner-img">
                                        
                                    </div><!-- end banner-img -->
                                </div><!-- end banner -->
                            </div><!-- end widget -->
                    
                            <div class="widget">
                                <h2 class="widget-title">Emmanuel A. Sandoval</h2>
                                <div class="page-link">
                                    <div class="blog-box">
                                        <div class="post-media">
                                            <a title="row">
                                                <img src="{% static 'upload/df.png'%}" alt="" class="img-fluid">
                                                <div class="">
                                                </div><!-- end hover -->
                                            </a>
                                        </div><!-- end media -->
                                        <div class="blog-meta">
                                            <h5><a  title="">Autor/Diseñador/Editor</a></h5>
                                        </div><!-- end meta -->
                                    </div><!-- end blog-box -->
                    
                                    <hr class="invis">
                    
                                    <div class="blog-box">
                                        <div class="post-media">
                                            <a  title=""> </a>
                                    </div><!-- end blog-box -->
                                    <hr class="invis">
                                    <div class="blog-box">
                                        <div class="blog-meta">
                                            <strong><p><a title="">Soy Diseñador Gráfico Freelance y Fotógrafo con experiencia en medios tecnológicos online. 
                                         Siempre interesado en el modo en el que la tecnología puede cambiar la vida de las personas</a></p></strong>
                                        </div><!-- end meta -->
                                    </div><!-- end blog-box -->
                                </div><!-- end videos -->
                            </div><!-- end widget -->
                        </div>
                    </div>
                    </div>
                    </div>
                    </div>
                    </section>
                            <div class="widget">
                                
                            </div><!-- end widget -->

                            <div class="widget">
                                
                            </div><!-- end widget -->

                            <div class="widget">
                                
                                <div class="row text-center">

                                </div>
                            </div><!-- end widget -->

                            <div class="widget">
                                
                            </div><!-- end widget -->
                        </div><!-- end sidebar -->
                    </div><!-- end col -->
                </div>
            </div><!-- end container -->
        </section>
 
    </body>

</head>
{% endblock %}